html{
    font-size: 18px;
}
body{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#overlay{
    height: 100%;
    width: 100%;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 2;
}
#Container{
    background-image:url("images/Signin_Container.jpg") ;
    border-radius: 10px;
    box-shadow: #ffe601;
    background-size: cover;
 
    z-index: 1;
    height: 70%;
    width: 40%;
}
h1{color: rgb(255, 174, 0);
    font-size: 3em;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}
form{
    margin:0px;
    height: 40%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label{
     display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-bottom:2%;
}

input{
    width: 100%;
    height: 100%;
    border-width: 0.1px;
    border-color: grey;
    border-radius: 5px;
    display: flex;
    text-align: left;
    font-size: 14px;
    padding:5%;
    justify-content: center;
 

}
#submit{
    
    margin-top:4%;
    width: 80%;
    }
    input[type="submit"]{
        background-color: rgb(236, 183, 85);
    }
    input[type="submit"]:active{
        background-color: rgb(255, 145, 0);
    }

    h3{margin: 0px;}