
.fixed-content textarea{
  margin: 2% 0;
  padding: 2%;
  border-radius: 10px;
  width: 100%;
  height: 100px;
}
.fixed-content {
  background-color: rgba(247, 247, 248,0.8);
  width: 100%;
  height: 100%;
  justify-content: space-between;
  top: 0;
  bottom:0;
  z-index: 15;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  display: flex;

}
#chiudi:hover{
  background-color:rgb(247, 247, 248);
  
}
#chiudi:active{
  background-color: orange;
}
#chiudi p {
  
  font-size: 1.3rem;
  padding: 2%;
}


div{
    display: flex;
}

.fixed-content .commento div{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.fixed-content .commenti button {
  font-size: 1rem;

}
 
.fixed-content .descrizione img{
  height: 20vh;
  width: 20vh;
}
.fixed-content .divisore{
  flex-direction: column;
 width: 65%;
 height: 100%;
}

.fixed-content .articolo{
  background-position: center;
  background-color: white;
  background-size: cover;
  border-radius: 10px;
    border: 1px solid rgb(165, 164, 164);
    margin:1%;
    padding: 1%;
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;

}
.fixed-content .venditore{
    height: 100%;
    padding:0px;
    align-items: center;
    justify-content: left;
    margin:5px;
}
.fixed-content .descrizione a{
 margin:2%;
}
.fixed-content .header{
  display: flex;
  padding: 1%;
  height: 20%;
  align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(165, 164, 164);
}

.fixed-content .venditore p{
    
    margin:0px;
    padding :0px 5px;
}
.fixed-content .oggetto{
    height: 70%;
    padding:1%;
    justify-content: space-between;
}
.fixed-content .descrizione{
    width: 80%;
}
.fixed-content .prezzo{
    width: 15%;
    padding: 1%;
    flex-direction: column;
    justify-content: space-between;
}
.fixed-content .opzioni{
    height: 100%;
    
}
.fixed-content .opzioni p{
    margin: 0px;
    padding: 5px;
}
.fixed-content p{margin: 0px;
  font-size: 3.5vh;
}
.fixed-content .totale{
  width: 30%;
  height: 100%;
  display: flex;
  position: fixed;
  top:0px;
  right: 0px;
  justify-content: space-between;
  align-items:flex-end;
  flex-direction: column;
}
.fixed-content .info{
  padding: 0 2%;

  height: 50%;
  width: 100%;
  flex-direction: column;
}
.fixed-content .info h2{
  overflow-y: scroll;
  overflow-wrap: break-word;

  height: 30%;
  width: 96%;
  padding:2%;
 
}
.fixed-content .info h2::-webkit-scrollbar{
  display: none;
}
.fixed-content .info p {
    padding:2%;
    overflow-wrap: break-word;

  overflow-y: scroll;
  height: 70%;
  margin-top: 2%;
  width: 96%;
}
.fixed-content .info p::-webkit-scrollbar{
  display: none;
}
.fixed-content .commenti{
  padding: 0 2%;
  overflow-y: scroll;
  justify-content: space-between;
  flex-direction: column;
  height:40%;
  width: 100%;

}

.fixed-content .commento{
  padding:2%;
  font-size: 1.2rem;
  overflow-wrap: break-word;
    flex-direction: column;
  height: fit-content;
  width: 96%;
  border-bottom: 1px solid rgb(165, 164, 164);
}
.fixed-content .nuovo{
  border-bottom: none;
}
.fixed-content .commenti::-webkit-scrollbar{
  display: none;
}
#chiudi{
  margin: 2vh;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.fixed-content em{
  font-style: normal;

}
#descrizione{
  height:50% ;
  width: 100%;
}
.stop{
  opacity:0.1;
  position: fixed;
  overflow: hidden;
}
.hidden{
  display:none;
}



#totale{margin :2%}
@media (max-width: 800px) {
  

}
    

                                                                   





