html{
    font-size: 25px;
  }
  
  
  body{
   
    margin: 0px;
      color: rgb(0, 0, 0);
    background-color: #e4e6eb;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;   
        flex-direction: column;
  }
  #overlay {
    background-color:rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  nav{
    height: 50px;
    width: 99%;
    background-color:rgba(255, 255, 255, 1);
    border-bottom: 1px black solid;
    /*background-image:url("images/Signin_Container.jpg") ;*/
    background-size: cover;
    /*border-radius: 25px;*/
    top:0%;
    position: sticky;
    z-index: 5;
    background-position:5%;
    color: white;
    font-size: .875rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   
  
   
  nav a {
    padding: 0 20px;
    display: flex;
    height: 80%;
    
    border-radius: 5px;
    /*border:1px solid rgb(0, 0, 0);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);*/
    margin:0px 4px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    }
    nav img{
      z-index: 10;
       height: 48px;
      width: 48px;
      border: 1px solid black;
      border-radius: 24px;
      padding: 0%;
    }
    #right{
      height: 100%;
      align-items: center;
    }
    #icona{
      margin-right: 20px;
      font-size: 1.1rem;
      z-index: 10;
    }
    #nav_hidden{background-color: white;}
    #nav_hidden a{
      
      height: 48px;
      
    }
  
  #username{
    height: 100%;
    
  }
  #username #nav_hidden{
    display: none;
  }
  #username:hover #nav_hidden{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    width: 100px;
    height: fit-content;
    top: 0px;
    
    color: rgb(255, 255, 255);
    right: 0;
    font-size: .875rem;
    padding: 10px;
    padding-top: 80px;
    display: flex;
    justify-content: right;
    align-items: top;
  
  } 
  nav a:hover{
    background-color:rgb(247, 247, 248);
    
    height: 100%;
  }
  nav a:active{
    background-color: orange;
    height: 100%;
  }
  
  nav form{
    position: sticky;
    width: 568px;
    left: calc(50vw - 284px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    height: 48px;
    margin-bottom: 0px;
  }
  svg{
    padding: 1%;
  }
  nav label{
    flex-wrap: wrap;
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav input{
    width: 400px;
    display: inline-block;
    border-radius: 10px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    height: 100%;
    line-height:100%;
    padding:5px;
    border-width: 0px;
  }
  nav input:focus{
  outline: none;}
  nav form:hover{
    border-width: 2px;
    border-color: grey;
   }
  nav form:focus{
    outline: rgb(252, 138, 0);
    border:2px solid rgb(252, 138, 0);
  }
 
  article{
    display: flex;
   
    flex-direction: column;
   height: calc(100% -60px);
   width: 568px;
  }
  
  div{
    display: flex;
   
  }
  
  article section{
    background-color: white;
    color: black;
    margin-top: 5px;
    border: 1px rgb(160, 160, 160) solid;
    border-radius: 10px;
    width: 100%;
    height:fit-content;
    max-height:555px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5%;
    
  }
  .header{
    height: 10%;
    margin:1%;
    display: flex;
    justify-content: space-between;
    align-items: top;
  }
  .condivisore{
    display: flex;
    
  }
  .condivisore img{
    height: 48px;
    width: 48px;
    border-radius: 24px;
    margin-right: 12px;
    border: 1px solid black;
  
  }
  .bordo{
    padding: 2%;
    margin: 0px;
    border: 1px rgb(160, 160, 160) solid;
    border-radius: 10px;
    display: flex;
    height: 400px;
    flex-direction: column;
   
    }
    .Corpo{
      overflow:hidden;
      margin: 0 0 0 1%;
      display: block;
      height: 15%;
      width: 100%;
    }
  .carrello{
    margin-top: 2%;
     
    overflow: scroll;
    height: 80%;
    width: 100%;
    display: flex;
    scrollbar-width:none;
    flex-wrap: wrap;
    
    
    
  }
  .selected{
    background-color: rgb(247, 189, 83);
  }
  .carrello::-webkit-scrollbar{
    display: none;
  }
  
  .carrello a{
    margin: 0.5%;
    display:flex;
    height:265px;
    width: 265px;
  }
  
  .carrello a img{
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    object-fit:cover;
    background-color:rgba(229, 231, 235,1) ;
    height: 100%;
    width: 100%;
    
    
  }
  
  
  .opzioni{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 5%;
    padding: 0px 1%;
  }
  .opzioni img{
    height: 100%;
    
  }
  .opzioni div{
    margin-right: 3%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  p{margin: 0px;}
  
  header{
      
      margin: 1% 0;
      width: 750px;
      border-radius: 10px;
      height: fit-content;
      display: flex;
      justify-content:space-around;
      align-items: center;
      flex-direction: column;
      
      background-color: white;
  }
  header p{margin: 2%;}
  header h1{
    padding-left: 15%;
      width: 306px;
      margin: 0px;
      font-size: 1.5rem;
      
  }

  .segui{
      justify-content: space-around;
  }
  .dati{
      flex-direction: column;
      justify-content: space-around;
  }
  button{
      
      height: 40px;
      width: 60px;
      background-color: #0095f6;
      background-color:rgba(250, 178, 44,0.9);
      color: rgb(29, 29, 29);
      background-color: rgba(228, 230, 235,0.8); 
      /*background-color: white;*/
      border-width: 1px;
      border-radius: 5px;
      font-size: .7rem;
  }
  button:hover{
      background-color: rgba(247, 181, 100,0.5);
  }
  button:active{
    background-color: orange;
}
  .profilo{

      justify-content: center;
      margin: 2%;
      width: fit-content;
      
  }
  .profilo form{margin:2%}
  .profilo img{
      
      height: 128px;
      width: 128px;
      border: 1px black solid;
      border-radius: 50%;
}
.scelta{
    justify-content: space-evenly;
    width: 100%;
    margin:1%;
    margin-bottom: 0;
    border-radius: 10px;
     
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    
     
}
#pub{
  border-bottom-left-radius: 10px;
  
   /* border-right: 1px solid black;*/
}
#follow{
  border-bottom-right-radius: 10px;
  
}
.scelta div{width: 50%;
  
justify-content: center;    
}
.scelta div:hover{
    background-color:rgb(247, 247, 248);
}
.scelta div:active{/*
  background-color:rgba(247, 181, 100,0.5);*/
  background-color:orange;
}
.hidden{display: none;}

@media (max-width: 700px) {
  header h1{
    padding-left: 15%;
      width: 50vw;
      margin: 0px;
      font-size: 1.5rem;
      
  }
  .profilo img{
    height: 30vw;
    width: 30vw;
  }
  article{
   

    width: 100%;
    margin: 0px;
  }
  .bordo{
    width: 95%;
  }
 article section{
   width: 100%;
 }
  .carrello {
    justify-content: center;}
  .fixed-content .totale {
    width: 100%;
    height: 100%;
    position: relative;
    align-items: flex-end;
    flex-direction: column}
  .carrello a{
    margin: 0.5%;
    display:flex;
    height: 42vw;
  width: 42vw;
  }
 
  header{width: 100%;
  border-radius: 0px;
  margin: 1%;
  margin-left: 3%;}
  nav input{
    width: 60%;
  }
  .fixed-content{

    justify-content: center;}
  .fixed-content .divisore {
    width: 96%;
  }
  .fixed-content .articolo {
    /* background-position: center; */
    background-color: white;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid rgb(165, 164, 164);
     margin-bottom: 2%;
    padding: 0px;
    display: flex;
    height: fit-content;
    flex-direction: column;
}
.fixed-content .divisore {
  overflow: scroll;
  padding: 5%;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
}
#pub{border-radius: 0px;}
#follow{border-radius: 0px;}
article section{border:none;
  border-radius: 0px;
}
.fixed-content .divisore::-webkit-scrollbar{display: none;}
}
      
  
                                                                     
  
  
  
  
  
  